<div class="container-flex" align="center">
  <div class="row">
    <div *ngFor="let pet of petsNearMe" class="card col-lg-3 col-md-3 col-sm-6 col-xs-12" (click)="openPetProfileModal(pet)">
      <img src={{pet.petProfilePic}} class="Card image cap fit-image img-responsive" alt="...">
      <h5 class="card-title">{{pet.petName}}</h5>
      <p>{{pet.dist.calculated}} km. away from you</p>
    </div>
  </div>
</div>

