<div class="container col-lg-6 col-md-6 col-sm-8" style="margin-top: 100px">
  <form [formGroup]="newUserForm" (ngSubmit)="registerUser()">

    <div class="form-row">

      <div class="form-group col-lg-12">
        <label for="userName">User Name:</label>
        <input formControlName="userName" type="text" class="form-control" id="userName" placeholder="User Name" required>
        <div *ngIf="userName.invalid && (userName.touched || userName.errors?.UserNameNotAvailable)">
          <p *ngIf="userName.touched && !userName.errors?.UserNameNotAvailable" style="font-size: medium; color: rgb(250, 71, 71)">user name required</p>
          <p *ngIf="userName.errors?.UserNameNotAvailable && userName.dirty" style="font-size: medium; color: rgb(250, 71, 71)">User name is already registered, please provide a new one</p>
        </div>
      </div>
    
    </div>

    <div class="form-row">

      <div class="form-group col-lg-12">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email" required> 
        <div *ngIf="email.invalid && (email.touched || email.errors?.emailFormatError)">
          <p *ngIf="email.touched && !(email.errors?.emailNotAvailable || email.dirty)" style="font-size: medium; color: rgb(250, 71, 71)">email required</p>
          <p *ngIf="email.errors?.emailFormatError && email.dirty" style="font-size: medium; color: rgb(250, 71, 71)">Email is incorrect</p>
          <p *ngIf="email.errors?.emailNotAvailable && email.dirty" style="font-size: medium; color: rgb(250, 71, 71)">Email is already registered, please provide a new one</p>
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-lg-6">
        <label for="firstName">First Name:</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name" required>
        <div *ngIf="firstName.invalid && firstName.touched">
          <p *ngIf="firstName.touched" style="font-size: medium; color: rgb(250, 71, 71)">first name required</p>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <label for="lastName">Last Name:</label>
        <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
        <div *ngIf="lastName.invalid && lastName.touched">
          <p *ngIf="lastName.touched" style="font-size: medium; color: rgb(250, 71, 71)">last name required</p>
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-lg-6">
        <label for="password">Password:</label>
        <input formControlName="password" type="text" class="form-control" id="password" placeholder="Password" required>
        <div *ngIf="password.invalid && (password.touched || password.errors.minlength)">
          <p *ngIf="password.errors.minlength || password.touched" style="font-size: medium; color: rgb(250, 71, 71)">password must be at least 8 characters</p>
        </div>
      </div>
  
      <div class="form-group col-lg-6">
        <label for="passwordVerify">Verify password:</label>
        <input formControlName="passwordVerify" type="text" class="form-control" id="passwordVerify" placeholder="Password">
          <div *ngIf="passwordVerify.touched || passwordVerify.dirty">
          <p *ngIf="newUserForm.errors?.passwordNotMatch" style="font-size: medium; color: rgb(250, 71, 71)">password does not match</p>
        </div>
      </div>
  
    </div>

    <div class="form-row">

      <button [disabled]="newUserForm.invalid">Register</button>

    </div>

  </form>
</div>
