<div class="modal-header">
    <h4 class="modal-title pull-left">Sign in</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <h5>{{message}}</h5>
<form [formGroup]="userLogIn" (ngSubmit)="logIn()">
  <div class="form-group">
    <label>E-Mail</label>
    <input type="text" class="form-control" placeholder="Enter E-mail" formControlName="userLog">
    
    <div *ngIf="userLogIn.get('userLog').errors?.emailError">
      <p style="font-size: medium; color: rgb(250, 71, 71)">email is not registered</p>
    </div>

  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Enter password" formControlName="password">

    <div *ngIf="userLogIn.get('password').errors?.passwordError">
      <p style="font-size: medium; color: rgb(250, 71, 71)">incorrect password</p>
    </div>

  </div>

  <button id="logInButton" class="btn btn-primary">Log in</button>
</form>
</div>