<div class="row">

    <div class="card col-lg-4 col-md-4 col-sm-4">
        <img src="../../../assets/images/Pet food.png" class="card-img-top" alt="...">
        <div class="card-body mx-auto">
          <h5 class="card-title">Pet food</h5>
        </div>
    </div>

    <div class="card col-lg-4 col-md-4 col-sm-4">
        <img src="../../../assets/images/toys.jfif" class="card-img-top" alt="...">
        <div class="card-body mx-auto">
          <h5 class="card-title">Toys</h5>
        </div>
    </div>

    <div class="card col-lg-4 col-md-4 col-sm-4">
        <img src="../../../assets/images/accessories.jfif" class="card-img-top" alt="...">
        <div class="card-body mx-auto">
          <h5 class="card-title">Accessories</h5>
        </div>
    </div>

</div>