    
    <div class="modal-header">
      <h5 class="modal-title pull-left">Pet Profile</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <img src={{image}} class="rounded img-fluid" alt="...">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8">
            <h2>{{name}}</h2>
            <p>is a {{kind}}</p>
            <p>{{distance}} km. away from you</p>
            <p>more about {{name}}:</p>
            <p>{{details}}</p>
          </div>
        </div>
      </div>
      <button *ngIf="currentUserId" type="button" class="btn btn-primary" (click)="adoptRequest()">request for adoption</button>
      <div class="p-3 mb-2 bg-warning text-dark" *ngIf="!currentUserId">please log in to request adoption</div>
    
    </div>
