  <nav class="fixed-top navbar" style="background-color: #e3f2fd;">
    <div class="col-lg-8 col-md-6 col-sm-12">
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="" class="nav-link active" (click)="checkUserAuth()"> Home </a>
        </li>
        <li class="nav-item">
          <a routerLink="adopt" class="nav-link active">Adopt a pet</a>
        </li>
        <li class="nav-item">
          <a routerLink="store" class="nav-link active">Store</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 justify-content-end" *ngIf="!loggedIn">
        <ul class="nav">
          <li class="nav-item m-1">
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="openSignInModal()">Log in</button>
          </li>
          <li class="nav-item m-1">
              <button type="button" class="btn btn-outline-primary btn-sm" routerLink="register">Sign up</button>
          </li>
        </ul>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 justify-content-end" *ngIf="loggedIn">
      <ul class="nav">
        <li class="nav-item m-1">
          <label>
            <p>hello {{user}}</p>
          </label>
        </li>
        <li class="nav-item m-1">
          <button type="button" class="btn btn-outline-primary btn-sm" routerLink="userProfile" (click)="checkUserAuth()">Profile</button>
        </li>
        <li class="nav-item m-1">
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="logOut()">Log out</button>
        </li>
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
