<div class="container" align="center">
  <div class="row">
    <div class="flex-column align-self-center col-12">
      <div *ngIf="myRequestedPets.length > 0">
        <table class="table table-hover table-responsive">
          <thead class="table-primary">
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Pet Name</th>
              <th scope="col">Request Status</th>
              <th scope="col">Action</th>
              <th scope="col">Reject Message</th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let request of myRequestedPets">
                <th scope="row"><img src="{{request.petProfilePic}}" class="imageSize img-fluid img-thumbnail" alt="..."></th>
                <th scope="row">{{request.petName}}</th>
                <td>{{request.requesters[0].requestStatus}}</td>
                <td><button type="button" class="btn btn-danger" (click)="deleteRequest(request._id, request.requesters[0].requesterId)">Delete</button></td>
                <!--<td>{{request.requesters[0].requestRejectMessage}}</td>-->
              </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="myRequestedPets.length === 0">
        <h4>You do not have any pet requests</h4>
      </div>
    </div>
  </div>
</div>

 <!--   _id ?: string;
    originalOwnerId ?: string;
    newOwnerId ?: string;
    adoptionStatus : 'available' | 'adopted';
    petName : string;
    petKind : string;
    petAdditionalDetails : string;
    petProfilePic : string;
    petAddress : string;
    location : IgeoJSON;
    dist ?: { calculated : number };
    requesters ?: IAdoptionRequest[];
}

export interface IAdoptionRequest {
    _id ?: string;
    requesterId : string;
    requesterUserName : string;
    requestStatus : 'pending' | 'approved' | 'rejected';
    requestRejectMessage : string;
}-->