<div style="margin-top: 50px">
<div class="col-12" align="center">
  <h2><span class="badge badge-primary">Click a profile to view adoption requests and to edit profile</span></h2>
</div>

<accordion [closeOthers]="true" [isAnimated]="true">
  <accordion-group  *ngFor="let pet of myPets" class="m-3">
    <button class="btn btn-block clearfix" accordion-heading>
      <!--<div class="pull-left float-left">-->
    <div class="mb-3 container-flex">
      <div class="row">
        <div class="flex-column align-self-center col-lg-3 col-md-6 col-sm-6 col-xs-6">
            <img src="{{pet.petProfilePic}}" class="img-fluid img-thumbnail" alt="...">
        </div>

        <div class="flex-column align-self-center col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <h3>name: <span class="badge badge-primary">{{pet.petName}}</span></h3>
            <h4>status: <span class="badge badge-secondary">{{pet.adoptionStatus}}</span></h4>
            <h4>kind: <span class="badge badge-secondary">{{pet.petKind}}</span></h4>
            <h4>address: <span class="badge badge-secondary">{{pet.petAddress}}</span></h4>
            <h4 *ngIf="pet.requesters.length === 0">adoption requests: <span class="badge badge-secondary">{{pet.requesters.length}}</span></h4>
            <h4 *ngIf="pet.requesters.length > 0">adoption requests: <span class="badge badge-primary">{{pet.requesters.length}}</span></h4>
        </div>

        <div class="flex-column align-self-center col-lg-5 col-md-12 col-sm-12 col-xs-6">
            <h4>additional details:</h4>
            <p>{{pet.petAdditionalDetails}}<p>
        </div>
      </div>
    </div>
      
    </button>

  <div class="mb-3 container-flex">
    <div class="row">
      <div class="flex-column col-lg-2 col-md-2 col-sm-12 align-self-center">
        <table>
          <tr>
            <td><button class="btn btn-primary align-self-stretch" (click)="deletePetProfile(pet._id)">Delete profile</button></td>
          </tr>
          <!--<tr>
            <td><button class="btn btn-primary align-self-stretch">Delete profile</button></td>
          </tr>-->
        </table>
      </div>

      <div class="flex-column align-self-center col-lg-10 col-md-10 col-sm-12">
        <div class="row">
          <div *ngIf="pet.requesters.length > 0">
            <table class="table table-hover table-responsive">
              <thead class="table-primary">
                <tr>
                  <th scope="col">Adoption Request from</th>
                  <th scope="col">Request status</th>
                  <th scope="col" colspan="2">Action</th>
                  <!--<th scope="col">Reject Message</th>-->
                </tr>
              </thead>

              <tbody>
                  <tr *ngFor="let request of pet.requesters">
                    <th scope="row">{{request.requesterUserName}}</th>
                    <td>{{request.requestStatus}}</td>
                    <td><button [disabled]="request.requestStatus === ('rejected' || 'approved')" type="button" class="btn btn-success">Approve</button></td>
                    <td><button [disabled]="request.requestStatus === ('rejected' || 'approved')" type="button" class="btn btn-danger">Reject</button></td>
                     <!--<td>{{request.requestRejectMessage}}</td>-->
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

          <div *ngIf="pet.requesters.length === 0">
            <div class="row">
              <h6>no adoption request available</h6>
            </div>
          </div>
      </div>
    </div>
  </div>

  </accordion-group>
</accordion>
</div>

<!--_id ?: string;
requesterId : string;
requesterUserName : string;
requestStatus : 'pending' | 'approved' | 'rejected';
requestRejectMessage : string;
-->