<div class="container" style="margin-top: 120px">

  <tabset [justified]="true">
      <tab heading="Add Pet For Adoption">
        <app-create-pet-profile></app-create-pet-profile>
      </tab>
      <tab heading="My Pets For Adoption">
        <app-pets-for-adoption></app-pets-for-adoption>
      </tab>
      <tab heading="My Pet Adoption Requests">
        <app-adoption-requests></app-adoption-requests>
      </tab>
  </tabset>

</div>