<div class="container" style="margin-top: 80px" align="center">
  <div class="row">
    <div *ngFor="let pet of returnedArray" class="card col-lg-6 col-md-6 col-sm-6 col-xs-6" (click)="openPetProfileModal(pet)">
      <img src={{pet.petProfilePic}} class="Card image cap fit-image img-responsive" alt="...">
      <h5 class="card-title">{{pet.petName}}</h5>
      <p>{{pet.dist.calculated}} km. away</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <pagination [totalItems]="petsNearMe.length" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>

<!--<div class="row">
    <div class="col-xs-12 col-12">
      <div class="content-wrapper">
        <p class="content-item" *ngFor="let content of returnedArray">{{content}}</p>
      </div>
      <pagination [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>-->

  <!--<div class="container" style="margin-top: 80px" align="center">
      <div class="row m-10">
        <div *ngFor="let pet of petsNearMe" class="card col-lg-2 col-md-4 col-sm-6 col-xs-6" (click)="openPetProfileModal(pet)">
          <img src={{pet.petProfilePic}} class="Card image cap fit-image img-responsive" alt="...">
          <h5 class="card-title">{{pet.petName}}</h5>
          <p>{{pet.dist.calculated}} km. away from you</p>
        </div>
        <pagination [totalItems]="petsNearMe.length" (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>-->