<div style="margin-top: 80px" class="container-fluid" align="center">

  <div parallax class="main-image d-flex p-2 bd-highlight">
    <div class="justify-content-center align-self-center col-12">
      <img class="img-fluid mx-auto d-block" src="../../assets/images/logo.png">
    </div>
  </div>

  <div class="jumbotron row">
    <div class="col-12">
      <h1>Free love</h1>
      <h3>Adopt a pet near you</h3>
      <app-adopt-widget></app-adopt-widget>
      <h2 (click)="navigate()">View more Pets for adoption near you</h2>
    </div>
  </div>

  <div class="row">
      <div class="col-12">
        <h1>Shop galore</h1>
        <h3>All that your pet need and want</h3>
        <app-shop-widget></app-shop-widget>
      </div>
  </div>

</div>
