.main-image{
    background-image: url(../../assets/images/homPageBg.png);
    background-size: cover;                  
    background-repeat: repeat-y;
    background-position: center;
    height: 450px;
    width: 100%;
}