<div class="container col-lg-8" style="margin-top: 20px">
  <form [formGroup]="petProfileForm" (ngSubmit)="registerPet()">

    <div class="col"><h6>All the fields are required</h6></div>

    <div class="form-group">

      <div class="form-row m-3">
        <div class="col-6">
          <label for="petName">What is the pet's name?</label>
          <input formControlName="petName" type="text" class="form-control" id="petName" placeholder="pet name" required>
          <div *ngIf="petName.invalid && (petName.dirty || petName.touched)">
            <p *ngIf="petName.errors.required" style="font-size: medium; color: rgb(250, 71, 71)">pet name required</p>
          </div>
        </div>

        <div class="col-6">
          <label for="petType">What kind of pet is it?</label>
          <select formControlName="petType" class="form-control" id="petType" required>
            <option *ngFor="let type of petTypeList" [ngValue]="type">{{type}}</option>
          </select>
          <div *ngIf="petType.invalid && (petType.dirty || petType.touched)">
            <p *ngIf="petType.errors.required" style="font-size: medium; color: rgb(250, 71, 71)">pet type required</p>
          </div>
        </div>
      </div>

      <div class="form-row m-3">
        <!--<label for="petLoc">Where is the pet located?</label>
        <input type="text" class="form-control" id="petLoc" placeholder="address" autocorrect="off" autocapitalize="off" spellcheck="off" #petLoc>-->
        <label for="petAddress">Where is the pet located?</label>
        <select formControlName="petAddress" class="form-control" id="petAddress" required>
          <option *ngFor="let adr of adrList" [ngValue]="adr">{{adr.address}}</option>
        </select>
        <div *ngIf="petAddress.invalid && (petAddress.dirty || petAddress.touched)">
          <p *ngIf="petAddress.errors.required" style="font-size: medium; color: rgb(250, 71, 71)">pet address required</p>
        </div>
      </div>

      <div class="form-row m-3">
        <label for="tellMorePet">Tell us more about the pet:</label>
        <textarea formControlName="tellMorePet" class="form-control" id="tellMorePet" rows="3" placeholder="Example: vaccination status, age, special needs, temperament etc." required></textarea>
        <div *ngIf="tellMorePet.invalid && (tellMorePet.dirty || tellMorePet.touched)">
          <p *ngIf="tellMorePet.errors.required" style="font-size: medium; color: rgb(250, 71, 71)">please tell us more about the pet</p>
        </div>
      </div>

      <div class="form-row m-3">
        <div class="col-12">
          <label for="petPicUrl" style="font-size: medium; color: blue">Choose pet profile picture</label>
          
          <div class="form-row divImgOverflow">
            <div *ngFor="let pic of pics" class="col m-2" (click)="setProfilePic(pic)">
              <img src={{pic}} class="rounded fit-image img-responsive" alt="...">
            </div>
          </div>

          <input formControlName="petPicUrl" type="text" class="form-control" id="petPicUrl" required readonly>
          
        </div>
      </div>

    </div>
  
    <button [disabled]="petProfileForm.invalid">Register pet for adoption</button>

  </form>
</div> 



  